<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022. SRG SSR. All rights reserved.
  ~ License information is available from the LICENSE file.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
