name: Build on Windows

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-on-windows:
    name: Build on Windows
    runs-on: windows-latest
    env:
      USERNAME: ${{ github.actor }}
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build project
        run: >
          ./gradlew
          :pillarbox-demo:assembleProdDebug
          :pillarbox-demo-tv:assembleProdDebug
